
.vs/Unity-Wow-Clone/v16/.suo
Library/ArtifactDB
Library/Artifacts/a1/a172ac2cfac44328da561c26cc667c07
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/EditorInstance.json
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker1-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/FSTimeGet-b401e72fd791e784ea513078987034a0
Temp/UnityLockfile
Temp/workerlic
Library/ScriptAssemblies/Assembly-CSharp.dll
Temp/FSTimeGet-12208e173d310d54ca252656aff9443d
Temp/FSTimeGet-fad79b7c0d23e9049ba7dfbadffb8086
